main {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

body {
    background-color: #f5f3f3f8;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
a {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 5% auto 5%;
    background-color: #f5f3f3f8;
    padding: 20px;
}

.grid-container>div {
    text-align: center;
    padding: 25px;
    font-size: 25px;
}

.item1 {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 25px;
    background-color: #112C23;
    color: #FCCB1A
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 25px;
    background-color: #F2AE02;
}

.item3 {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 25px;
    background-color: #F7EDD4;
    color: #8F003E;
}

.item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 25px;
    background-color: #112C23;
    color: #FCCB1A
}


/* .item5 { grid-area: margin; } */

.derpy-div {
    background-color: #F7F0D4;
    color: #8F003E;
    /* border-style: solid; */
    border-radius: 5px;
    padding: 2%;
}

.user-button {
    background: #666666;
    background: linear-gradient(#666666, #444444);
    border: 4px solid #000000;
    border-radius: 1000px;
    padding: 8px 20px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 24px/1 "Ubuntu", sans-serif;
    text-align: center;
    text-shadow: 1px 1px #000000;
}

.user-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #808080), color-stop(1, #343434));
    background: -moz-linear-gradient(top, #808080 5%, #343434 100%);
    background: -webkit-linear-gradient(top, #808080 5%, #343434 100%);
    background: -o-linear-gradient(top, #808080 5%, #343434 100%);
    background: -ms-linear-gradient(top, #808080 5%, #343434 100%);
    background: linear-gradient(to bottom, #808080 5%, #343434 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#343434', GradientType=0);
}

.myButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fff6af;
    box-shadow: inset 0px 1px 0px 0px #fff6af;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background: -moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: -ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23', GradientType=0);
    background-color: #ffec64;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #112C23;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background: -moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64', GradientType=0);
    background-color: #ffab23;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.login-submit {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
    background-color: #ffffff;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    border: 2px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 11px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.login-submit:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
    background-color: #f6f6f6;
}

.login-submit:active {
    position: relative;
    top: 1px;
}